# HTTP server
ADDR=:8080

# SQLite
SQLITE_DB_PATH=./data/ynab.db
SQLITE_DISABLE_WAL=false

# YNAB API
YNAB_TOKEN=your_ynab_personal_access_token_here
YNAB_API=https://api.youneedabudget.com/v1

# Background sync
SYNC_INTERVAL=1h
